html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-style: 10px;
}
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  color: #fff;
}
.head {
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  height: 75rem;
  width: 100%;
}
.info_line {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.info_line .logo_text {
  margin-top: 1rem;
}
.info_line .logo_text img {
  float: left;
  margin-top: 1.5rem;
  margin-right: 1rem;
}
.info_line .logo_text h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: -1.4rem;
}
.info_line .logo_text h3 {
  font-weight: 100;
  font-size: 1rem;
}
.info_line .contact {
  margin-top: 2rem;
  display: inline-block;
}
.info_line .contact button {
  background: none;
  padding: 1rem;
  margin-right: 2rem;
}
.info_line .contact a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
.slogan {
  color: #ffff33;
  text-align: center;
  font-size: 3.2rem;
  text-transform: uppercase;
  max-width: 105rem;
}
.lies {
  margin-top: 16rem;
}
.lies ul > li {
  list-style-type: none;
  margin-top: 1rem;
  font-size: 1.9rem;
}
.lies ul > li > i {
  margin-right: 1rem;
  margin-left: -1rem;
}
.form {
  display: inline-block;
  height: 41rem;
  max-width: 40rem;
  background-color: #fff;
  margin-top: 3rem;
  text-align: center;
}
.form p {
  color: #333;
  text-align: center;
  font-size: 2.2rem;
  margin-top: 5rem;
}
.form .input {
  display: inline-block;
  height: 6rem;
  width: 28rem;
  margin-bottom: 1.5rem;
  border: 1px solid black ;
  border-radius: 5px;
}
.form .input .box {
  display: inline-block;
  height: 100%;
  width: 5rem;
  background-color: #333333;
  float: left;
  margin-right: -1rem;
  border-radius: 4px 0 0 4px;
}
.form .input .box i {
  margin-top: 40%;
}
.form .input input {
  display: inline-block;
  height: 100%;
  width: 22rem;
  padding-left: 1rem;
  border: 0;
  outline: 0;
  color: black;
}
.form button {
  height: 6rem;
  width: 28rem;
  background-color: #ffff33;
  color: black;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
  border: 0;
}
.money {
  background: url(../images/money.png) no-repeat center center;
  height: 17rem;
  width: 26rem;
  margin-top: -8rem;
}
.advantages {
  text-align: center;
}
.advantages .circle {
  height: 7rem;
  width: 7rem;
  background: #ffff33;
  border-radius: 50%;
  line-height: 7rem;
  margin: 6rem auto 1rem;
}
.advantages p {
  color: black;
  display: inline-block;
  height: 4rem;
  width: 15rem;
}
@media (max-width: 1199px) {
  .slogan {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  .lies {
    margin-top: 2rem;
    text-align: center;
  }
  .form {
    text-align: center;
    margin: 0 25%;
  }
  .money {
    display: none;
  }
}
@media (max-width: 768px) {
  .logo_text,
  .contact {
    margin: 0 25%;
  }
}
